
<!DOCTYPE html>
<html ng-app="brndm-themes">
<head>
<meta charset="utf-8"/>
<meta content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, minimal-ui" name="viewport"/>
<meta content="yes" name="mobile-web-app-capable"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="" name="description"/>
<title>
</title>
<meta content="" property="og:title"/>
<meta content="website" property="og:type"/>
<meta content="" property="og:description"/>
<meta content="https://uploads.branded.me/57bbec4d4182d7000b254d4d/57bbec4e8a996100075fca51.jpg" property="og:image"/>
<meta content="@branded_me" name="twitter:site"/>
<meta content="" name="twitter:title"/>
<meta content="" name="twitter:description"/>
<meta content="summary" name="twitter:card"/>
<meta content="https://uploads.branded.me/57bbec4d4182d7000b254d4d/57bbec4e8a996100075fca51.jpg" name="twitter:image"/>
<link href="https://uploads.branded.me/57bbec4d4182d7000b254d4d/57bbec4e8a996100075fca51.jpg" rel="icon" type="image/png"/>
<link href="/themes/styles/vendor.css" rel="stylesheet" type="text/css"/>
<link href="/themes/stacked-one/theme.css" rel="stylesheet" type="text/css"/>
<link href="https://css.branded.me/embedded/bootstrap/follow-top/styles/index.css" rel="stylesheet"/>
<style>
</style>
</head>
<body>
<script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      event:'userDetails',
      'pageType':'profile',
      'userStatus': 'profile visitor',
      'userPlan': null
    });
  
</script>
<noscript>&lt;iframe src="//www.googletagmanager.com/ns.html?id=GTM-KRGMKG" height="0" width="0" style="display:none;visibility:hidden"&gt;&lt;/iframe&gt;
</noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KRGMKG');
</script>
<div brndm-modal="" brndm-navigation="" class="theme light shapes-circular theme-stacked-one typography-t10">
<div class="site-content">
<div bs-collapse="" class="menu" data-animation="am-collapse">
<div brndm-mobile-menu="" bs-collapse-toggle="" class="mobile-menu-button" data-toggle="collapse">
<h4 class="">
<a brndm-menu-item="bd871ddbe90277eec0ce9698" class="">Intro
</a>
</h4>
<h4 class="">
<a brndm-menu-item="7b5f19e3671d7de20001f8a3" class="">Bio
</a>
</h4>
<h4 class="">
<a brndm-menu-item="7a0d1073ada85bf45d343cb8" class="">Education
</a>
</h4>
<h4 class="">
<a brndm-menu-item="8301f89245b3838e45170916" class="">Skills
</a>
</h4>
<h4 class="">
<a brndm-menu-item="cb8399fc33924ef3798c5b18" class="">Contact
</a>
</h4>
</div>
<nav bs-collapse-target="" class="collapse am-collapse">
<h4 class="">
<a brndm-menu-item="bd871ddbe90277eec0ce9698" class="">Intro
</a>
</h4>
<h4 class="">
<a brndm-menu-item="7b5f19e3671d7de20001f8a3" class="">Bio
</a>
</h4>
<h4 class="">
<a brndm-menu-item="7a0d1073ada85bf45d343cb8" class="">Education
</a>
</h4>
<h4 class="">
<a brndm-menu-item="8301f89245b3838e45170916" class="">Skills
</a>
</h4>
<h4 class="">
<a brndm-menu-item="cb8399fc33924ef3798c5b18" class="">Contact
</a>
</h4>
</nav>
</div>
<section class="ng-pristine ng-untouched ng-valid ng-isolate-scope intro background image dark" editable-section="" id="bd871ddbe90277eec0ce9698" ng-model="section" style='background-image: url("//s3.amazonaws.com/branded.me/gallery/nature/15.jpg");'>
<div class="tint-overlay" style="opacity: 0.6;">
</div>
<div class="wrapper clearfix">
<nav class="">
<h4 class="">
<a brndm-menu-item="7b5f19e3671d7de20001f8a3" class="">Bio
</a>
</h4>
<h4 class="">
<a brndm-menu-item="7a0d1073ada85bf45d343cb8" class="">Education
</a>
</h4>
<h4 class="">
<a brndm-menu-item="8301f89245b3838e45170916" class="">Skills
</a>
</h4>
<h4 class="">
<a brndm-menu-item="cb8399fc33924ef3798c5b18" class="">Contact
</a>
</h4>
</nav>
<div class="content clearfix image-center image-medium">
<div class="image-wrapper ng-isolate-scope" editable-intro-section="" section="section" theme="editableSite.theme">
<div class="image">
<editable-image class="circle ng-pristine ng-untouched ng-valid" ng-model="editableSite.user.avatar" placeholder="themes/assets/images/blank/intro.png" readonly="" style='background-image: url("https://uploads.branded.me/57bbec4d4182d7000b254d4d/57bbec4e8a996100075fca51.jpg");'>
</editable-image>
</div>
</div>
<div class="text-wrapper">
<div class="text">
<h1 class="" editable="" ng-non-bindable="">NIKHIL PANDIT
</h1>
<p class="" editable="" ng-non-bindable="">
</p>
<div class="social-networks">
</div>
</div>
</div>
</div>
<a class="continue" ng-click="brndmNavigation.gotoSection('7b5f19e3671d7de20001f8a3')">
</a>
</div>
</section>
<section class="ng-pristine ng-untouched ng-valid ng-isolate-scope bio dark" editable-section="" id="7b5f19e3671d7de20001f8a3" ng-model="section">
<div class="tint-overlay" style="opacity: 0.8;">
</div>
<div class="wrapper clearfix">
<div class="content clearfix">
<h2 class="title ng-pristine ng-untouched ng-valid" editable-text-basic="" ng-model="section.title" placeholder="Bio">Bio
</h2>
<p class="" editable="" ng-non-bindable="">I am a student pursuing Computer science engineering, experienced in various server side coding projects in languages like PHP-MySQL, JSP, for the server side and HTML,CSS JavaScript, Jquery, Parsley JS for front end looks and validation. I also have knowledge of core JAVA and OOP concepts. I am looking for a job to work after my completion of degree in June 2017.
</p>
</div>
</div>
</section>
<section class="ng-pristine ng-untouched ng-valid ng-isolate-scope education dark" editable-section="" id="7a0d1073ada85bf45d343cb8" ng-model="section">
<div class="tint-overlay" style="opacity: 0.4;">
</div>
<div class="wrapper clearfix">
<div class="content description clearfix">
<h2 class="ng-pristine ng-untouched ng-valid" editable-text-basic="" ng-model="section.title" placeholder="Education">Education
</h2>
<p class="ng-pristine ng-untouched ng-valid" editable-text-basic="" ng-model="section.text" placeholder="See where I spent time studying and gained early knowledge to prepare for my professional life.">See where I spent time studying and gained early knowledge to prepare for my professional life.
</p>
</div>
<slider class="slider list content" data-max-items="2" data-min-item-width="420">
<slider-content>
<slider-content-wrapper>
<slider-item class="listing-wrapper">
<div class="listing clearfix">
<div class="image-wrapper placeholder">
<div class="image">
<editable-image class="ng-pristine ng-untouched ng-valid placeholder" ng-model="item.school.logo" placeholder="themes/assets/images/blank/education.png" style='background-image: url("themes/assets/images/blank/education.png");'>
</editable-image>
</div>
</div>
<div class="text-wrapper">
<div class="text">
<h4 class="time ng-isolate-scope" editable="" ng-non-bindable="" period="item">
<span class="">07 /
</span> 
<span class="">2013
</span> 
<span class="">–
</span> 
<span class="">06 /
</span> 
<span class="">2017
</span>
</h4>
<h3 class="school">
<span class="" editable="" ng-non-bindable="">Gandhinagar Institute of Technology
</span>
</h3>
<h3 class="study">
<span class="small" editable="" ng-non-bindable="">Computer Science and Engineering
</span>
</h3>
<p class="education-description">
<span class="small" editable="" ng-non-bindable="">
</span>
</p>
</div>
</div>
</div>
</slider-item>
</slider-content-wrapper>
</slider-content>
<div slider-buttons="">
<button class="slick-prev" slider-prev="">Previous
</button>
<button class="slick-next" slider-next="">Next
</button>
</div>
</slider>
<a class="continue" ng-click="brndmNavigation.gotoSection('8301f89245b3838e45170916')">
</a>
</div>
</section>
<section class="ng-pristine ng-untouched ng-valid ng-isolate-scope skills dark" editable-section="" id="8301f89245b3838e45170916" ng-model="section">
<div class="tint-overlay" style="opacity: 0.8;">
</div>
<div class="wrapper clearfix">
<div class="content description clearfix">
<h2 class="ng-pristine ng-untouched ng-valid" editable-text-basic="" ng-model="section.title" placeholder="Skills">Skills
</h2>
<p class="ng-pristine ng-untouched ng-valid" editable-text-basic="" ng-model="section.text" placeholder="A concise list of some of the most valuable professional skills I possess. My tricks of the trade and what I can bring to the table.">A concise list of some of the most valuable professional skills I possess. My tricks of the trade and what I can bring to the table.
</p>
</div>
<slider class="list content" data-max-items="4" data-min-item-width="187">
<slider-content>
<slider-content-wrapper>
<slider-item class="listing-wrapper">
<div class="listing">
<div class="listing-aligner">
<h3>
<span class="" editable="" ng-non-bindable="">PHP
</span>
</h3>
</div>
</div>
</slider-item>
<slider-item class="listing-wrapper">
<div class="listing">
<div class="listing-aligner">
<h3>
<span class="" editable="" ng-non-bindable="">JSP
</span>
</h3>
</div>
</div>
</slider-item>
<slider-item class="listing-wrapper">
<div class="listing">
<div class="listing-aligner">
<h3>
<span class="" editable="" ng-non-bindable="">JavaScript
</span>
</h3>
</div>
</div>
</slider-item>
<slider-item class="listing-wrapper">
<div class="listing">
<div class="listing-aligner">
<h3>
<span class="" editable="" ng-non-bindable="">jQuery
</span>
</h3>
</div>
</div>
</slider-item>
<slider-item class="listing-wrapper">
<div class="listing">
<div class="listing-aligner">
<h3>
<span class="" editable="" ng-non-bindable="">MySQL
</span>
</h3>
</div>
</div>
</slider-item>
<slider-item class="listing-wrapper">
<div class="listing">
<div class="listing-aligner">
<h3>
<span class="" editable="" ng-non-bindable="">HTML 5
</span>
</h3>
</div>
</div>
</slider-item>
<slider-item class="listing-wrapper">
<div class="listing">
<div class="listing-aligner">
<h3>
<span class="" editable="" ng-non-bindable="">HTML + CSS
</span>
</h3>
</div>
</div>
</slider-item>
<slider-item class="listing-wrapper">
<div class="listing">
<div class="listing-aligner">
<h3>
<span class="" editable="" ng-non-bindable="">Core Java
</span>
</h3>
</div>
</div>
</slider-item>
<slider-item class="listing-wrapper">
<div class="listing">
<div class="listing-aligner">
<h3>
<span class="" editable="" ng-non-bindable="">Android Development (Beginner)
</span>
</h3>
</div>
</div>
</slider-item>
</slider-content-wrapper>
</slider-content>
<div slider-buttons="">
<button class="slick-prev" slider-prev="">Previous
</button>
<button class="slick-next" slider-next="">Next
</button>
</div>
</slider>
<a class="continue" ng-click="brndmNavigation.gotoSection('cb8399fc33924ef3798c5b18')">
</a>
</div>
</section>
<!--section class="ng-pristine ng-untouched ng-valid ng-isolate-scope contact background image dark" editable-section="" id="cb8399fc33924ef3798c5b18" ng-model="section" style='background-image: url("//s3.amazonaws.com/branded.me/gallery/architecture/17.jpg");'>
<div class="tint-overlay" style="opacity: 0.5;">
</div>
<div class="wrapper clearfix">
<div class="content clearfix">
<div class="info-wrapper">
<div class="info clearfix">
<div class="content description clearfix">
<h2 class="ng-pristine ng-untouched ng-valid" editable-text-basic="" ng-model="section.title" placeholder="Contact">Contact
</h2>
<p class="ng-pristine ng-untouched ng-valid" editable-text-basic="" ng-model="section.text" placeholder="Get in touch with me if you would like to do business together, share an idea or just say hello.">Get in touch with me if you would like to do business together, share an idea or just say hello.
</p>
</div>
</div>
</div>
<div class="form-wrapper clearfix" editable-contact-section="" is-pro="editableSite.isPro" section="section">
<div class="clearfix message-me">
<h1>Have a question?
</h1>
<a brndm-message-me-btn="" class="button medium">Message Me
</a>
</div>
</div>
</div>
</div>
</section-->
</div>
</div>
<script type="text/javascript">
    Brndm = {
      apiEndpoint: "api.branded.me",
      webEndpoint: "branded.me",

      siteEndpoint: "branded.me/nikhilpandit",

      profile: {
        id: "57bbec4d4182d7000b254d4d",
        slug: "nikhilpandit",
        avatar: "https://uploads.branded.me/57bbec4d4182d7000b254d4d/57bbec4e8a996100075fca51.jpg"
      },
      context: 'design'
    };
  
</script>
<html>
<head>
<script>
  (function() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.async = true;
    script.src = 'https://branded.me/embedded/bootstrap/follow-top/scripts/index.js';
    var lastScript = document.getElementsByTagName('script')[0];
    lastScript.parentNode.insertBefore(script, lastScript);
  })();

</script>
</head>
<body>
</body>
</html>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Promise,String.prototype.startsWith,String.prototype.endsWith,location.origin">
</script>
<script src="/themes/scripts/vendor.js">
</script>
<script src="/themes/scripts/themes.js">
</script>
<img alt="track" src="//api.branded.me/v1/track/site/57bbec4d4182d7000b254d4d" style="display: none"/>
</body>
</html>
